body{
    background-color:aliceblue;
    text-align: center;
}
.all{
    margin-top: 25px;
    width: 390px;
    background-color: white;
    margin-bottom: 35px;
}
.name{
    background-color: #3a3f52;
    height: 50px;
    font-weight:700;
    color:white;
    font-size: larger;
    padding-bottom: 10px;
}
.sign{
    font-weight: 500;
    color: rgb(85, 85, 85);
    margin-top: 20px;
    margin-bottom: 20px;
}
i{
    height: 100%;
    border-bottom-left-radius: 0%;
}
.form-control{
    border-right: 0;
}
.input-group-text{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: white;
}
.form-check{
    text-align: left;
}
.fp{
    margin-left: 20px;
    text-decoration: none;
    color: grey;
}
button{
    width: 100%;
    margin: 25px 0;
}
.rn{
    width: 100%;
    border-color: rgb(216, 216, 216);
    margin-bottom: 20px;
    font-weight: 500;
}
.signup{
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-primary{
    background-color: #5e9cec;
}
p{
    margin-top: -13px;
}