.navv{
    background-color: black;
    color: white;
}
.alink{
    color: white;

}
.aboutme{
    text-align: left;
}
.titlehead{
    text-align: left;
}
.img1{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: grey;
}
.img p{
    position: absolute;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.topp{
    text-align: center;
    color: white;
    background-color: #0d6efd;
    padding-top: 10px;
    padding-bottom: 35px;

}
.topp p{
    margin-bottom: 0;
}